<div>
  <h2 id="page-heading" data-cy="BorrowedBookHeading">
    <span>Borrowed Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-borrowed-book"
        [routerLink]="['/borrowed-book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Borrowed Book </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="borrowedBooks?.length === 0">
    <span>No borrowedBooks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="borrowedBooks && borrowedBooks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="borrowDate"><span>Borrow Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="book.name"><span>Book</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="client.email"><span>Client</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let borrowedBook of borrowedBooks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/borrowed-book', borrowedBook.id, 'view']">{{ borrowedBook.id }}</a>
          </td>
          <td>{{ borrowedBook.borrowDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="borrowedBook.book">
              <a [routerLink]="['/book', borrowedBook.book?.id, 'view']">{{ borrowedBook.book?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="borrowedBook.client">
              <a [routerLink]="['/client', borrowedBook.client?.id, 'view']">{{ borrowedBook.client?.email }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/borrowed-book', borrowedBook.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/borrowed-book', borrowedBook.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(borrowedBook)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="borrowedBooks && borrowedBooks.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
