<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="borrowedBook">
      <h2 data-cy="borrowedBookDetailsHeading"><span>Borrowed Book</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ borrowedBook.id }}</span>
        </dd>
        <dt><span>Borrow Date</span></dt>
        <dd>
          <span>{{ borrowedBook.borrowDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Book</span></dt>
        <dd>
          <div *ngIf="borrowedBook.book">
            <a [routerLink]="['/book', borrowedBook.book?.id, 'view']">{{ borrowedBook.book?.name }}</a>
          </div>
        </dd>
        <dt><span>Client</span></dt>
        <dd>
          <div *ngIf="borrowedBook.client">
            <a [routerLink]="['/client', borrowedBook.client?.id, 'view']">{{ borrowedBook.client?.email }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/borrowed-book', borrowedBook.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
